* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  background-color: #111;
}
.heading h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  text-align: center;
  color: azure;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(31, 31, 31);
}
.nav-items {
  margin-left: 10px;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: aliceblue;
}
.sidenavbar {
  height: 100%;
  width: 30;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenavbar a {
  padding: 5px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.question1 {
  display: flex;
  margin-left: 180px;
  position: relative;
}
.Q1G1 {
  z-index: 2;
  width: 200px;
  height: 180px;
  margin-left: 25px;
}
.Q1G2 {
  z-index: 2;
  width: 200px;
  height: 180px;
  margin-left: 25px;
  margin-right: 25px;
}
.Q1G3 {
  z-index: 2;
  width: 200px;
  height: 180px;
  margin: 10px, auto, 10px, 5px;
  margin-left: 25px;
  margin-right: 25px;
}
.Q1G4 {
  z-index: 2;
  width: 200px;
  height: 180px;
  margin: 10px, auto, 10px, 5px;
  margin-left: 25px;
  margin-right: 25px;
}
