* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  background-color: #111;
}
.heading h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  text-align: center;
  color: azure;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(31, 31, 31);
}
.nav-items {
  margin-left: 10px;
  margin-right: 10px;
  color: aliceblue;
  text-decoration: none;
}

.sidenavbar {
  height: 100%;
  width: 30;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenavbar a {
  padding: 5px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.question1 {
  display: flex;
  margin-left: 180px;
  position: relative;
}
.question3 {
  display: flex;
  margin-top: 100px;
  position: relative;
  margin-left: 180px;
}
.question4 {
  display: flex;
  margin-top: 100px;
  position: relative;
  margin-left: 180px;
}
.question5 {
  display: flex;
  margin-top: 100px;
  position: relative;
  margin-left: 180px;
}
.question2 {
  display: flex;
  margin-top: 100px;
  position: relative;
  margin-left: 180px;
}
.Q1G1,
.Q2G1,
.Q3G1,
.Q4G1,
.Q5G1 {
  z-index: 2;
  width: 250px;
  height: 250px;
  margin-left: 10px;
}
.Q2G2 {
  z-index: 2;
  width: 700px;
  height: 250px;
  margin-left: 25px;
}
.Q1G2,
.Q3G2,
.Q4G2,
.Q5G2 {
  z-index: 2;
  width: 250px;
  height: 250px;
  margin-left: 25px;
}
.Q1G3,
.Q3G3,
.Q4G3,
.Q5G3 {
  z-index: 2;
  width: 250px;
  height: 250px;
  margin: 10px, auto, 10px, 5px;
  margin-left: 25px;
}
.Q4G4,
.Q4G3,
.Q4G2,
.Q4G1 {
  width: 350px !important;
}
.Q1G4,
.Q3G4,
.Q4G4,
.Q5G4 {
  z-index: 2;
  width: 250px;
  height: 250px;
  margin: 10px, auto, 10px, 5px;
  margin-left: 20px;
  margin-right: 25px;
}
.aboutus {
  margin: auto;
}
.cards {
  display: flex;
  margin-left: 200px;
}

.card-anushka,
.card-aaditee {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 350px;
}
.img-container {
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 150px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  margin-top: 30px;
}
